@use "./partials/variables" as var;

#contactForm {
  display: none;
}

.contact-form {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  align-self: center;
  border: 4px solid var.$col-emphasis;
  border-radius: 7px;
  max-width: 100%;
  background-color: var.$col-bkgd-light;

  //elements
  &__input {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    justify-content: flex-end;
    max-width: 100%;
    overflow: hidden;
    &__label {
      padding-top: 0.9em;
      text-align: left;
      padding: 2px;
      color: var.$col-txt-light;
      background-color: var.$col-bkgd-medium;
    }
  }
  &__button {
    background-color: var.$col-txt-light;
    color: var.$col-bkgd-light;
    &:hover {
      color: var.$col-accent;
      box-shadow: 1px 1px 5px 5px;
    }
  }
}
