@use "./partials/variables" as var;

.navbar {
  overflow: hidden;
  background-color: var.$col-bkgd-medium;
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;

  //elements
  &__name-logo {
    color: var.$col-accent;
    font-size: xx-large;
    background-color: var.$col-bkgd-medium;
    font-family: cursive;
    padding: 2px;
  }
  &__nav {
    background-color: var.$col-bkgd-medium;
    align-self: center;
    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 2px;
      &__link {
        text-decoration: none;
      }
      &__link:hover {
        color: var.$col-accent;
      }
    }
  }
}
