@use "./partials/variables" as var;

.navbar {
  overflow: hidden;
  background-color: var.$col-bkgd-medium;
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  z-index: 1;
  &__nav {
    background-color: var.$col-bkgd-medium;
    align-self: center;
  }
  @media only screen and (max-width: 600px) {
    display: flex;
    justify-content: space-between;
  }
}
.name-logo {
  color: var.$col-accent;
  font-size: xx-large;
  background-color: var.$col-bkgd-medium;
  font-family: cursive;
  padding: 2px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 2px;
  &__link {
    text-decoration: none;
  }
  &__link:hover {
    color: var.$col-accent;
  }

  @media only screen and (max-width: 600px) {
    display: none;
    position: fixed;
    right: 0;
    background-color: var.$col-bkgd-medium;
    width: fit-content;
    z-index: 1;
    padding: 5px;
  }
}

.mobile-menu {
  display: none;
  img {
    height: 1em;
    aspect-ratio: 1;
    padding: 10px;
  }

  @media only screen and (max-width: 600px) {
    display: block;
  }
}
