@use "./partials/variables" as var;
@use "./partials/mixins" as mix;

.section {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 2em 0;
  min-height: 90vh;
  justify-content: center;

  //modifiers
  &--small {
    min-height: 10vh;
    margin-bottom: 0.5em;
    align-self: center;
    padding: 0em;
    width: var.$content-width;
    height: fit-content;
  }
  &--dark {
    background-color: var.$col-bkgd-dark;
  }
  &--light {
    background-color: var.$col-bkgd-light;
  }
  &--textured {
    background-image: linear-gradient(
      to right,
      var.$col-bkgd-dark,
      var.$col-accent,
      var.$col-bkgd-dark //rgba(145, 10, 103, 1)
    );
  }
  &--bordered {
    margin: 0.5em 0 0 0;
    border: 7px solid var.$col-emphasis;
    border-radius: 5px;
  }

  //elements
  &__heading {
    margin: 1em 1em 1em 0.4em;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color: var.$col-emphasis;

    //modifiers
    &--accented {
      @include mix.custom-color(var.$col-accent);
    }
    &--light {
      @include mix.custom-color(var.$col-bkgd-light);
    }
    &--small {
      font-size: 1.25em;
      text-align: center;
    }
    &--animated {
      transition: padding-left 1s;
      padding-left: 0px;
      text-align: left;
    }
  }
  &__text {
    align-self: center;
    text-justify: newspaper;
    width: var.$content-width;
    font-size: 1.1em;
    font-weight: normal;
    font-family: arial;
    color: rgb(41, 53, 67);

    &--bold {
      font-weight: bold;
      color: var.$col-emphasis;
    }
  }
}
