@use "./normalize.scss";
@use "./partials/variables" as var;
@use "./partials/keyframes" as kf;
@use "./navbar-style.scss";
@use "./landing-page-style.scss";
@use "./gallery-style.scss";
@use "./card-style.scss";
@use "./contact-form-style.scss";
@use "./section-style.scss";
@use "./footer-style.scss";

* {
  margin: 0;
  padding: 0;
  color: var.$col-primary;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.animated-left {
  align-self: flex-start;
  opacity: 0;
  transition: all 1s;
}
