@use "./normalize.scss";
@use "./partials/variables" as var;

* {
  margin: 0;
  padding: 0;
  color: var.$light-slate-grey;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navbar {
  overflow: hidden;
  background-color: var.$mouse-grey;
  position: fixed;
  top: 0;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 5fr;

  &__name-logo {
    color: var.$rose-pink;
    font-size: xx-large;
    //border: 1px solid red;
    background-color: var.$mouse-grey;
    //font-family: fantasy;
    font-family: cursive;
    padding: 2px;
  }

  &__nav {
    //border: 1px solid var.$dark-deep-blue;
    background-color: var.$mouse-grey;
    align-self: center;
    &__menu-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      //font-weight: bold;
      //border: 1px solid blue;
      margin: 0;
      padding: 2px;
      &__link {
        text-decoration: none;
      }
      &__link:hover {
        color: var.$rose-pink;
      }
    }
  }
}

.content {
  color: var.$deep-blue;
  &__landing-page {
    display: flex;
    flex-direction: row;
    justify-content: right;
    //border: 1px solid black;
    background-color: var.$light-mouse-grey;
    &__container {
      height: 100vh;
      align-self: flex-end;
      display: flex;
      flex-direction: column;

      justify-content: center;
      //border: 1px solid red;
      margin-right: 1em;
      &__text {
        font-size: large;
        font-weight: bold;
        //border: 1px solid blue;
      }

      &__info {
        //border: 1px solid red;
        &__name {
          font-size: xxx-large;
          //border: 1px solid blue;
          text-align: right;
          margin-top: 1em;
          //color: var.$slate-grey;
          color: var.$rose-pink;
          margin-bottom: 0.1em;
        }
        &__title {
          font-size: x-large;
          text-align: right;
          //border: 1px solid blue;
        }
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    //border: 1px solid red;
    padding: 3em 1em 2em 0;
    min-height: 90vh;
    justify-content: center;
    &--mouse-grey {
      background-color: var.$mouse-grey;
    }

    &--light-mouse-grey {
      background-color: var.$light-mouse-grey;
    }

    &__heading {
      margin: 1em 1em 1em 0.4em;
      font-size: xx-large;
      font-weight: bold;
      text-align: center;
      // border: 1px solid red;
    }

    &__gallery {
      align-self: center;
      //border: 1px solid red;
      margin: 1em 1em 4em 1em;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 3em;
      width: 70%;
      //justify-items: ceneter;
      &__card {
        margin: 1em;
        //border: 1px solid red;
        &:hover {
          box-shadow: 2px 2px 10px 2px;
          //border: 3px solid var.$slate-grey;
        }
        &--link {
          //border: 4px solid red;
          text-decoration: none;
        }
        &--bordered {
          border: 3px solid var.$dark-deep-blue;
          border-radius: 5px;
        }

        &__img {
          &--small {
            width: 4em;
            height: 4em;
          }
          &--large {
            width: 15em;
            height: 20em;
          }
        }
        &__caption {
          font-weight: bold;
          font-size: medium;
          text-align: center;
          &--large {
            font-size: large;
            padding: 0.2em;
          }
        }
        &__description {
          //width: 100%;
          word-wrap: normal;
          width: 14.6em;
          padding: 0.2em;
          //border: 1px solid red;
        }
      }
    }

    &__text {
      //border: 1px solid blue;
      align-self: center;
      //text-align: center;
      text-justify: newspaper;
      width: 70%;
      font-size: 1.25em;

      &--bold {
        font-weight: bold;
      }
    }
    #contactForm {
      display: none;
    }

    &__form {
      display: grid;
      grid-template-rows: 1fr 1fr 4fr;
      align-self: center;
      border: 1px solid var.$slate-grey;
      width: 80%;

      &__input {
        //border: 1px solid salmon;
        display: grid;
        gap: 0.2em;
        grid-template-columns: 1fr 5fr;

        &__label {
          padding-top: 0.9em;
          //border: 1px solid rebeccapurple;
          //color: red;
          text-align: right;
          &--top {
            padding: 0;
          }
        }
      }
    }
  }
}

.footer {
  &__copyright {
    text-align: center;
  }
}
