// website basic color scheme
$col-bkgd-dark: rgb(55, 65, 80);
$col-accent: #ea5455;
$col-bkgd-light: rgb(249, 245, 235);
$col-bkgd-medium: rgb(228, 220, 216);
$col-txt-light: #50727b;
$col-primary: rgb(60, 79, 101);
$col-emphasis: rgb(51, 49, 59);

$content-width: 70%;

$myb: #91a4a0;
$myr: #ffdcd6;
$myg: #59a986;
