$rose-pink: #ea5455;
$deep-blue: #002b5b;
$mouse-grey: rgb(228, 220, 216); //rgb(228, 220, 196);
$light-mouse-grey: rgb(249, 245, 235);
$dark-deep-blue: #251749;
$slate-grey: rgb(51, 49, 59);
$light-slate-grey: #3c4f65;
//$light-slate-grey: rgb(70, 70, 70);
$murky-blue: #50727b;
$mid-grey: rgb(220, 210, 196);
