$rose-pink: #ea5455;
$deep-blue: #002b5b;
$mouse-grey: #e4dcc4;
$light-mouse-grey: #f9f5eb;
$dark-deep-blue: #251749;
$slate-grey: rgb(51, 49, 59);
$light-slate-grey: #3c4f65;
//$light-slate-grey: rgb(70, 70, 70);
